# --- Sécurité (Mots de passe) ---
.env

# --- Base de données (Lourd et généré automatiquement) ---
postgres_data/

# --- Logs et fichiers temporaires ---
logs/
__pycache__/
*.py[cod]

# --- Système ---
.DS_Store
Thumbs.db