version: '3.8'

services:
  dashboard:
    build: .
    container_name: value_investing_${ENV_NAME}
    restart: always
    ports:
      - "${HOST_PORT}:8501"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_${ENV_NAME}
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"

volumes:
  pg_data: